*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(64, 82, 73, 0.5);
}

.header {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-wrap: wrap;
}
.header-title {
  text-align: right;
  flex: 1 1 20%;
}
.header-name {
  font-size: 50px;
  padding: 50px 30px;
}
.header-subtitle {
  font-size: 40px;
  padding: 30px;
}
.header-photo {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(64, 82, 73);
  width: 30%;
}
img {
  width: 80%;
  border-radius: 100%;
  filter: contrast(120%) grayscale(100%) brightness(110%);
}
.header-contacts {
  margin: auto 15px;
}
.contacts-list {
  font-size: 24px;
  line-height: 200%;
}
.about-title {
}
.title {
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
}
.about-text {
}
.text {
  margin: 0 40px;
  font-size: 24px;
}
