*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
  font-family: Lato;
  scroll-behavior: smooth;
  --color1: #36caa3;
  --color2: #fffce6;
  /*#a3070b #fffcf5    #4CD4B0*/
  --colorWhite: #ffffff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--color2);
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  background-color: var(--color2);
  box-shadow: inset 10em 8em var(--color1, 0.3);
}
/*-----------MENU--------*/
.main-menu {
  color: var(--colorWhite);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  padding: 25px 10px;
}
.menu-list li {
  cursor: pointer;
  text-align: center;
  width: 15%;
  padding: 20px 10px;
  transition: 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.menu-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*----------HEADER------------*/
.header {
  display: flex;
  align-items: center;
}
.header-title {
  text-align: center;
  flex: 1 1 auto;
}
.header-name {
  font-size: 60px;
  padding: 20px 0;
  font-weight: 700;
  letter-spacing: 2px;
}
.header-name span {
  font-size: 100px;
  margin-left: 15px;

  color: var(--color1);
}
.header-subtitle {
  font-size: 50px;
  font-style: italic;
  padding: 10px;
  color: var(--color1);
  letter-spacing: 2px;
}
.header-photo {
  position: relative;
  top: -30px;
  padding: 30px;
  background-color: var(--color1);
  width: 35%;
  min-height: 300px;
}
.photo {
  position: absolute;
  top: 60px;
  left: 110px;
  width: 60%;
}
.header-contacts {
  margin: 50px 15px 0;
  padding: 20px;
}
.contacts-list {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 180%;
}
.contacts-list li {
  display: flex;
  transition: 0.2s ease;
}
.contacts-list li:hover {
  transform: scale(1.2);
}

.contant-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  object-fit: fill;
  background-repeat: no-repeat;
}
.telephone {
  background-image: url(./png/tel.png);
}
.map {
  background-image: url(./png/address.jpg);
}
.mail {
  background-image: url(./png/mail.png);
}

/*-----------ABOUT------------*/
.about-title {
}
.title {
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
  font-style: italic;
  letter-spacing: 2.5px;
  padding: 15px 15px;
  padding-left: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.2s ease;
}
.title::first-letter {
  color: var(--colorWhite);
  font-size: 55px;
  padding-right: 5px;
}
.title:hover {
  font-weight: 700;
  letter-spacing: 10px;
}
.about-text {
}
.text {
  margin: 0 40px;
  font-size: 24px;
  line-height: 150%;
  padding: 5px 20px;
  padding-left: 105px;
}

/*-----------EXPERIENCE---------*/
.experience-text li::before {
  content: ' - ';
  padding-right: 5px;
}

/*-----------SKILLS---------*/
.skills-title {
}

.skill-container {
  width: 100%;
  background-color: var(--color2);
}
.skill-name {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #000000;
  margin-bottom: 10px;
}
.skill-name p {
  padding: 0 10px;
}
.skill-html {
  width: 80%;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 130%);
}
.skill-css {
  width: 70%;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 140%);
}
.skill-javascript {
  width: 50%;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 200%);
}
.skill-git {
  width: 30%;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 330%);
}
.skill-photoshop {
  width: 90%;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 110%);
}
.skill-figma {
  width: 40%;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 250%);
}

/*-----------EDUCATION---------*/
.education {
}
.education-title {
}
.education-text {
}
.education-text li {
  display: flex;
  align-items: center;
}
.list {
}
.education-icon {
  width: 35px;
  height: 35px;
  background-image: url(./png/free-icon-checkmark-outline-54346.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 15px;
}
.education-content {
}

/*-----------LANGUAGES---------*/
.languages-title {
}
.languages-text .lang {
  display: flex;
  justify-content: space-around;
}

.lang div {
  display: flex;
  align-items: center;
}
.languages-icon {
  width: 45px;
  height: 30px;
  margin-right: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.russian {
  background-image: url(./png/russia-icon1.png);
}
.english {
  background-image: url(./png/usa-icon1.png);
}
.spain {
  background-image: url(./png/spain-icon.png);
}

/*-----------FOOTER---------*/
.footer {
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 20px;
  color: var(--colorWhite);
  transition: 0.2s ease;
}
.footer-container div:hover {
  transform: scale(1.2);
}
.github {
}
.year {
}
.rsschool-link {
}
.logo {
  width: 60px;
  height: 60px;
}
